@import "tailwindcss";

h1,
p1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
}

input {
    outline: none;
    border: 1px solid gray;
    border-radius: 12px;
}

.nav-box {
    box-shadow: 0 0 10px rgb(253, 253, 253),
        0 0 10px rgb(221, 221, 221),
        0 8px 20px rgb(131, 131, 131);
    z-index: 999;
}

nav {
    box-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 10px rgb(128, 173, 170),
        0 0 10px rgb(142, 142, 142);
    padding: 0 0.6rem;
    border-radius: 12px;
}

.form {
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0 50px -10px rgb(137, 137, 137),
        0 0 50px -10px rgb(120, 156, 159),
        0 0 50px -20px rgb(153, 186, 166),
        0 0 50px -20px rgb(255, 0, 0);
}

.form {
    background-color: hsla(0, 0%, 89%, 0.474);
    background-image: radial-gradient(circle at -16% -17%, rgba(0, 255, 251, 0.903) 0px, transparent 60%),
        radial-gradient(circle at 116% 117%, rgba(4, 0, 255, 0.903) 0px, transparent 50%),
        radial-gradient(circle at 9% 9%, rgba(72, 255, 0, 0.726) 0px, transparent 50%),
        radial-gradient(circle at 93% 93%, rgba(255, 0, 195, 0.903) 0px, transparent 100%);
}